<h1 class="setting_leaderboard editable setting_messages" showtool="leaderboard" contenteditable="true"><%=nl2br(@application.setting.leaderboard_value)%></h1>
<div id="topusers" class="editable" showtool="topusers">
	<%10.times do |i|%>
		<div>
			<div class="img"></div>
			<h2 class="setting_topusers">John<br/>1:02</h2>
		</div>
	<%end%>
</div>

<div class="setting_toolbar editable toolbar" showtool="toolbar">
	<div class="center">
		<div class="title" id="timeIndicator">
			00:03:14
		</div>
	</div>
</div>

<!-- JIGSAW CANVAS -->
<div id="canvas-wrap" class="visible">
    <img src="/images/preview/photo_contest2.jpg" alt="" style="margin: 50px 155px;" />
</div>