<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<div class="container-fluid">
	<div class="col-md-12">
		<h1 class="page-header"><a href="<%=url_for(action: :top_fans_stats)%>" class="btn btn-sm btn-primary">Volver</a> Likes for Page <%= params[:identifier] %></h1>
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>User</th>
					<th>Likes</th>
				</tr>
			</thead>
			<tbody>
				<% @results_likes.each do |like| %>
				<tr>
					<td><%= like['_id'] %></td>
					<td><%= like['likes'] %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>