<% for puzzle in @table_entries %>
	<tr>
		<td>
			puzzle
		</td>
		<td>Oct. 12, 2015</td>
		<td class="text-right">
			<div class="checkbox checkbox-info">
				<input type="checkbox" id="checkbox<%=i%>">
				<label for="checkbox<%=i%>"></label>
			</div>
		</td>
	</tr>
<%end%>