<%=$admin_user.inspect%>
<%for puzzle in @puzzles%>
	<img src="<%=puzzle.image_url_backend%>" />
<%end%>
<script>
	function handleSubmit(e){
		var formData = new FormData($('#elform')[0])
		$.ajax({
			url: '<%=url_for(controller: :applications, action: :puzzles_create)%>',
			type: 'POST',
			data: formData,
			processData: false,
			contentType: false,
			success: function(data) {
				console.log(data)
			}.bind(this),
			error: function(xhr, status, err) {
				
			}.bind(this)
		});
	}
	$(document).ready(function(){
		$('#elform').on('submit', function(e){
			e.preventDefault();
			handleSubmit();
		})
	})
	
</script>
<form id="elform" ref="form" method="post" remote="true" multipart="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title">New Puzzle</h4>
	</div>
	<div class="modal-body">
		<div class="form-group">
			<label>Name</label>
			<input type="text" ref="name" name="puzzles_puzzle[name]" class="form-control" />
		</div>
	</div>
	<div class="modal-body">
		<div class="form-group">
			<label>Pieces</label>
			<select name="puzzles_puzzle[pieces]" ref="name" class="form-control">
				<option value="12">12</option>
				<option value="20">20</option>
				<option value="30">30</option>
				<option value="42">42</option>
				<option value="56">56</option>
			</select>
		</div>
	</div>
	<div class="modal-body">
		<div class="form-group">
			<label>File</label>
			<input type="file" ref="image" name="puzzles_puzzle[image]" class="form-control" />
		</div>
	</div>
	<div class="modal-footer">
		<button type="submit">Submit</button>
	</div>
</form>